################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assignment2/v14
/.vs/Assignment2/v15/.suo
